<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="basePath">C:\temp\logs</Property>
    </Properties>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>


    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="fileLogger"
                     fileName="${basePath}/twitch.java.test.log"
                     filePattern="${basePath}/twitch.java.test-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>

            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

</Configuration>